<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список книг</title>
</head>
<body>
    <h1>Список книг</h1>
    <ul>
        {% for book in books %}
            <li>
                <h2>{{ book.title }}</h2>
                <p>Автор: {{ book.author }}</p>
                <p>Цена: {{ book.price }} руб.</p>
                <a href="{% url 'add_to_cart' book.id %}">Добавить в корзину</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'cart' %}">Перейти в корзину</a>
</body>
</html>